table{
    
    background-color: green;
    width: calc(85vmin);
    height:  calc(85vmin);
    table-layout: fixed;
}

td{
    width: calc(7vmin);
    height:  calc(7vmin);
    font-size : calc(5vmin);
    text-align: center;
}

span{
    color: red;
    font-size: 50px;
    font-weight: 200;
}

body {
    -webkit-user-select: none; 
}